:root {
  --primary: #239753;
  --primary-dark: #1c7942;
  --primary-light: #2db564;
  --white: #ffffff;
  --primary-xlight: #4bbf7b;
  --primary-xxlight: #91e7ad;
}

.reviews-section {
  padding: 60px 20px;
  background: #f9fafc;
  text-align: center;
}

.section-header {
  text-align: center;
  margin-bottom: 40px;
}

.section-title {
  font-size: 2.1 rem;
  font-weight: 700;
  color: var(--primary-dark);
  letter-spacing: 1px;
}

.section-subtitle {
  margin-top: 6px;
  color: #555;
  font-size: 1rem;
}

/* Review Form */
.review-form {
  max-width: 500px;
  margin: 0 auto 50px;
  padding: 25px 30px;
  border-radius: 16px;
  background: #fff;
}

.form-title {
  font-weight: 600;
  color: var(--primary);
}

.review-button {
  background-color: var(--primary) !important;
}
// .review-button button:hover{
//   background-color: var(--primary-xlight) !important;
// }

/* Slider Section */
.reviews-slider {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Review Card */
.review-card {
  padding: 25px 20px;
  border-radius: 16px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 260px;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.12);
  }
}

.review-avatar {
  width: 70px !important;
  height: 70px !important;
  margin-bottom: 15px;
  border: 3px solid var(--primary);
}

.review-message {
  margin-top: 12px;
  font-style: italic;
  color: #444;
  line-height: 1.5;
}
.error-text {
  color: red;
  font-size: 0.85rem;
  margin-top: 4px;
  text-align: left;
}
