:root {
  --primary: #239753;   
  --primary-dark: #1C7942;
  --primary-light: #2DB564;
  --white: #ffffff;
  --primary-xlight: #4BBF7B;
  --primary-xxlight: #91E7AD;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 60px;
}

.register-box {
  width: 500px;
  padding: 30px;
  margin: 50px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.register-title {
  text-align: center;
  margin-bottom: 20px !important;
  font-weight: bold !important;
  color: #333;
}
.textfield:hover{
 outline: 1px var();
}

.register-btn {
  margin-top: 20px !important;
  padding: 12px !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

.register-footer {
  margin-top: 15px !important;
  color: #555;
}