:root {
  --primary: #239753;   
  --primary-dark: #1C7942;
  --primary-light: #2DB564;
  --white: #ffffff;
}
.navbar {
  background: #ffffff !important; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08) !important; 
  width: 100%;
  padding: 10px 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); 
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 20px;

  .navbar-logo-img {
    height: 50px;
    cursor: pointer;
  }

  .navbar-title {
    font-weight: 700;
    font-size: 18px;
    color: var(--primary-light); 
    margin-right: 50px;
    letter-spacing: 0.5px;
  }
}

.container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar-right {
  margin-left: auto;
}

.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 2%;
  gap: 5
}

.navbar-link {
  text-decoration: none;
  color: #333; 
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
  transition: all 0.3s ease;
  padding: 6px 10px;
  border-radius: 4px;
 
}

.navbar-link:hover {
  background: rgba(25, 118, 210, 0.1); 
  color: var(--primary-dark); 
  border-bottom: 2px solid var(--primary-light);
  
}

.dropdown-wrapper {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 10px 0;
  min-width: 200px;
  z-index: 1000;
}

.dropdown-item {
  display: block;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 500;
  color: #333;
  text-decoration: none;
  white-space: nowrap;
}

.dropdown-item:hover {
  color: var(--primary-dark);
    border-bottom: 2px solid var(--primary-light);

}

.enquire-btn {
  width: 150%;
  background: var(--primary);
  color: #fff;
  // padding: 8px 18px;
  border-radius: 6px;
  margin-left: 14%;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  border: #239753;
  box-shadow: 0 1px 4px var(--primary);
  height: 30px;
}

.enquire-btn:hover {
  background: #1C7942;
  box-shadow: 0 2px 6px var(--primary-light);
}
.signup-wrapper {
  margin-left: auto; // pushes signup icon to far right
}

.signup-icon {
  color: var(--primary-dark);
  display: flex;
  align-items: center;
  transition: 0.3s ease;

  &:hover {
    color: var(--primary-light);
    transform: scale(1.1);
  }
}

